<nav class="navbar-fixed-top">
    <ul class="lv1-nav reg-green-bg section group"> <!-- Level 1 nav -->
        <li class="nav-left col">
            <div class="nav-arrow-text-svg">
                <svg id="nav-arrow" width="7" viewBox="0 0 15.37 28.63"><path class="nav-arrow" d="M14.37,28.63a1,1,0,0,1-.71-0.29L0.29,15a1,1,0,0,1,0-1.41L13.56,0.29A1,1,0,0,1,15,1.71L2.41,14.26,15.08,26.92A1,1,0,0,1,14.37,28.63Z"/></svg>
            </div>
            <div class="inline">
                <p ng-click="goListGigs()" class="nav-text">Gigs</p>
            </div>
        </li>
        <li class="col span_1_of_3"><h1 class="cursor-none">{[{groupName}]}</h1></li>
        <li class="col nav-right">

        </li>
    </ul>
</nav>

<div class="white-wrapper">
<h2 class="gig-name-h2"></h2>
<div class="content-width-8">
    <svg id="location" width="15" class="float-left green-fill" viewBox="0 0 20.95 36.76"><path class="location" d="M9.91,0C2.71,0.41-.14,7.13,0,13.53,0.19,21.89,5.62,29,9.63,35.94a1.59,1.59,0,0,0,2.24.59,1.38,1.38,0,0,0,1.65-.83c3.31-7.07,7.24-14.88,7.42-22.85C21.09,6.36,17.09-.38,9.91,0Zm7.18,16.49a71.52,71.52,0,0,1-5.68,15.69L7.92,26.13C6.42,23.52,4.78,20.94,4,18,2.65,12.86,2.93,4.1,9.82,3.43,17,2.74,18.15,11.28,17.09,16.51Z M12.64,8.26a1.44,1.44,0,0,0-1.09,0c-5.62-.81-7.92,10.05-1.6,10.4C15.17,18.92,17.72,10.26,12.64,8.26ZM12,13a2.64,2.64,0,0,1-1.38,2.14c-2.09.68-.78-3.87,0.4-3.6a1.74,1.74,0,0,0,.78,0A2,2,0,0,1,12,13Z"/></svg>


    <h2 class="chap-h2 uplowcase margin-left margin-left">Wardrobe</h2>

    <div ng-repeat="wardrobe in wardrobes" class="song-list-wrapper">
        <div class="section group">
                <p class="gig-data-p">{[{wardrobe.wardrobeConcept}]}</p> 
                <p class="comment">{[{wardrobe.comment}]}</p>
                <img class="img" ng-src="{[{wardrobe.wardrobeImg}]}">
        </div>

    </div>
    
</div>
<div class="section group">
            <div class="tabs">
                <div class="col span_1_of_5">
                <a ng-click="goGig()" ng-class="{ active: isSet(1) }">
                    <svg-icon class="tabimg svg-tabs svg-center" id="songs" p="songs"></svg-icon>
                    <p class="tabText">Songs</p>
                </a>
                </div>
                <div class="col span_1_of_5">
                <a ng-click="goLineup()" ng-class="{ active: isSet(2) }">
                    <svg-icon class="tabimg svg-tabs svg-center" id="lineup" p="lineup"></svg-icon>
                    <p class="tabText">Lineup</p>
                </a>
                </div>
                <div class="col span_1_of_5">
                <a ng-click="goDatetime()" ng-class="{ active: isSet(3) }">
                    <svg-icon class="tabimg svg-tabs svg-center" id="datetime" p="datetime"></svg-icon>
                    <p class="tabText">Datetime</p>
                </a>
                </div>
                <div class="col span_1_of_5">
                <a ng-click="goLocation()" ng-class="{ active: isSet(4) }">
                    <svg-icon class="tabimg svg-tabs svg-center" id="location" p="location"></svg-icon>
                    <p class="tabText">Location</p>
                </a>
                </div>
                <div class="col span_1_of_5">
                <a ng-click="goWardrobe()" ng-class="{ active: isSet(5) }">
                    <svg-icon class="tabimg svg-tabs svg-center" id="wardrobe" p="wardrobe"></svg-icon>
                    <p class="tabText">Wardrobe</p>
                </a>
                </div>
            </div>
        </div>
</div><!-- End of white wrapper -->