<div class="form-wrapper margin-top">
    <h2 class="mont-h2">Add a new chat</h2>
    <form method="get">
        <input class="form wide" type="text" ng-model="newChat.groupName" ng-model-options="{ updateOn: 'blur' }" placeholder="newGroupName"/><br />
        <input class="form wide"type="text" ng-model="newChat.groupAdmin" placeholder="newGroupAdmin"/><br />
        <input class="form wide"type="text" ng-model="newChat.groupMembers" placeholder="newGroupMembers"/><br />
        <input class="form wide"type="text" ng-model="newChat.groupGigs" placeholder="newGroupGigs"/><br />

        <button type="submit" class="button btn-xl" ng-click="createChat()">create new chat</button>
    </form>
</div>
