<div class="form-wrapper margin-top">
    <h2 class="chap-h2 uplowcase">Add a new gig</h2>
    <form method="get">
      <label>Name of new gig</label>
      <input class="form" type="text" ng-model="newGig.gigName" placeholder="Name of gig" required/><br>
      <label>Date</label>
      <input type="date" class="form" name="input" ng-model="newGig.gigDate"
      placeholder="Date" required /><br>
      <label>Time</label>
      <input type="time" class="form" name="input" ng-model="newGig.gigTime"
      placeholder="Time" required /><br>
<!--       <label>Location</label>
      <input class="form" type="text" g-places-autocomplete ng-model="newGig.gigLocation" placeholder="Location" required/><br> -->
      <button type="submit" class="button btn-xl margin-zero dark-green-yellow-bg" ng-click="createGig()"><p class="light-brown lowercase">Add {[{newGig.title}]}</p></button>
    </form>
</div>

