<div class="form-wrapper margin-top">
    <form method="get">
        <input class="form" type="text" ng-model="newGig.gigName" placeholder="Name of gig" />
        <input type="date" class="form" name="input" ng-model="newGig.gigDate"
       placeholder="yyyy-MM-dd" required />
        <input type="time" class="form" name="input" ng-model="newGig.gigTime"
       placeholder="HH:mm:ss" required />
       <!-- Google places auto complete -->
       <input class="form" type="text" ng-model="newGig.gigLocation"  gm-places-autocomplete="autocompleteOptions" ng-model="autocompleteModel" />
        <button type="submit" class="button btn-xl margin-zero dark-green-yellow-bg" ng-click="createGig()"><p class="light-brown lowercase">Add {[{newGig.title}]}</p></button>
    </form>
</div>

