<div class="form-wrapper margin-top">
    <h2 class="mont-h2">Songs</h2>
    <form method="get">
        <input class="form wide" type="text" ng-model="newGig.artist" ng-model-options="{ updateOn: 'blur' }" placeholder="Artist"/><br />
        <input class="form wide"type="text" ng-model="newGig.title" ng-model-options="{ updateOn: 'blur' }" placeholder="Title"/><br />
        <input class="form wide"type="text" ng-model="newGig.time" placeholder="Time"/><br />
        <input class="form wide"type="text" ng-model="newGig.bpm" placeholder="BPM"/><br />
        <button type="submit" class="button btn-xl" ng-click="createSong()">createSong</button>
    </form>
</div>

<div class="form-wrapper margin-top">
    <h2 class="mont-h2">Lineup</h2>
    <form method="get">
        <input class="form wide" type="text" ng-model="newGig.instrumentation" ng-model-options="{ updateOn: 'blur' }" placeholder="Instrumentation"/><br />
        <input class="form wide"type="text" ng-model="newGig.name" placeholder="Name"/><br />
        <input class="form wide"type="text" ng-model="newGig.comment" placeholder="Comment"/><br />
        <input class="button btn-xl" type="submit" ng-click="createLineup()" value="Save" />
    </form>
</div>

<div class="form-wrapper margin-top">
    <h2 class="mont-h2">Date / Time</h2>
    <form method="get">
        <input class="form wide" type="text" ng-model="newGig.scheduleName" ng-model-options="{ updateOn: 'blur' }" placeholder="Schedule Name"/><br />
        <input class="form wide"type="date" ng-model="newGig.date" placeholder="date"/><br />
        <input class="form wide"type="text" ng-model="newGig.time" placeholder="time"/><br />
        <input class="button btn-xl" type="submit" ng-click="createDatetime()" value="Save" />
    </form>
</div>

<div class="form-wrapper margin-top">
    <h2 class="mont-h2">Location</h2>
    <form method="get">
        <input class="form wide"type="text" ng-model="newGig.street" placeholder="Street"/><br />
        <input class="form wide"type="text" ng-model="newGig.city" placeholder="city"/><br />
        <input class="form wide"type="text" ng-model="newGig.state" placeholder="state"/><br />
        <input class="form wide"type="text" ng-model="newGig.zipcode" placeholder="Zipcode"/><br />
        <input class="button btn-xl" type="submit" ng-click="createLocation()" value="Save" />
    </form>
</div>

<div class="form-wrapper margin-top">
    <h2 class="mont-h2">Wardrobe</h2>
    <form method="get">
        <input class="form wide" type="text" ng-model="newGig.artist" ng-model-options="{ updateOn: 'blur' }" placeholder="Wardrobe"/><br />
 
        <input class="form wide"type="text" ng-model="newGig.bpm" placeholder="Comment"/><br />
        <input class="button btn-xl" type="submit" ng-click="createWardrobe()" value="Save" />
    </form>
</div>
