<nav class="navbar-fixed-top">
    <ul class="lv1-nav dark-green-bg section group"> <!-- Level 1 nav -->
        <li class="nav-left col span_1_of_3">
            <div class="nav-arrow-text-svg">
                <svg id="nav-arrow" width="7" viewBox="0 0 15.37 28.63"><path class="nav-arrow" d="M14.37,28.63a1,1,0,0,1-.71-0.29L0.29,15a1,1,0,0,1,0-1.41L13.56,0.29A1,1,0,0,1,15,1.71L2.41,14.26,15.08,26.92A1,1,0,0,1,14.37,28.63Z"/></svg>
            </div>
            <div class="inline">
                <p ng-click="goListGigs()" class="nav-text">Gigs</p>
            </div>
        </li>
        <li class="col span_1_of_3"><h1>Awesome Band</h1></li>
        <li class="col span_1_of_3">
            <div class="nav-left">
                <div class="inline">
                    <p ng-click="goListGigs()" class="nav-text nav-right">Chat</p>
                </div>
            </div>
        </li>
    </ul>
    </nav>

<div class="section group">
    <div class="tabs">

        <div class="col span_1_of_5" ng-class="{ active: isSet(1) }">
            <svg-icon class="tabimg svg-tabs" id="songs" ng-click="setTab(1)" p="songs"></svg-icon>
            <p class="tabText">Songs</p>
        </div>
        <div class="col span_1_of_5" ng-class="{ active: isSet(2) }">
            <svg-icon class="tabimg svg-tabs" id="lineup" ng-click="setTab(2)" p="lineup"></svg-icon>
            <p class="tabText">Lineup</p>
        </div>
        <div class="col span_1_of_5" ng-class="{ active: isSet(3) }">
            <svg-icon class="tabimg svg-tabs" id="datetime" ng-click="setTab(3)" p="datetime"></svg-icon>
            <p class="tabText">Datetime</p>
        </div>
        <div class="col span_1_of_5" ng-class="{ active: isSet(4) }">
            <svg-icon class="tabimg svg-tabs" id="location" ng-click="setTab(4)" p="location"></svg-icon>
            <p class="tabText">Location</p>
        </div>
        <div class="col span_1_of_5" ng-class="{ active: isSet(5) }">
            <svg-icon class="tabimg svg-tabs" id="wardrobe" ng-click="setTab(5)" p="wardrobe"></svg-icon>
            <p class="tabText">Wardrobe</p>
        </div>
    </div>
</div>


<div class="view">
	<div class="gig-tabs-content">
		<div ng-show="isSet(1)">
            <div songs-page> </div>     
        </div>
        <div ng-show="isSet(2)">
            <div lineup-page></div>      
        </div>
        <div ng-show="isSet(3)">
            <div datetime-page> </div>     
        </div>
        <div ng-show="isSet(4)">
            <div location-page> </div>     
        </div>
        <div ng-show="isSet(5)">
            <div wardrobe-page> </div>     
        </div>
	</div>
</div>


