



<!-- <div class="view gig-tabs-content">
	<div>
        <h2 class="gig-name-h2">-{[{gigName}]}-</h2>
		<div ng-show="isSet(1)">
            <div songs-page> </div>     
        </div>
        <div ng-show="isSet(2)">
            <div lineup-page></div>      
        </div>
        <div ng-show="isSet(3)">
            <div datetime-page> </div>     
        </div>
        <div ng-show="isSet(4)">
            <div location-page> </div>     
        </div>
        <div ng-show="isSet(5)">
            <div wardrobe-page> </div>     
        </div>
	</div>
</div> -->


