<nav class="navbar-fixed-top">
    <div class="lv1-nav section group"> 
        <div class="col span_1_of_3"></div>
        <div class="col span_1_of_3"><h1 ng-click="goChat()">Awesome Band</h1></div>
        <div class="col span_1_of_3"></div>
    </div>
</nav>

<div class="section group">
    <div class="tabs">

        <div class="col span_1_of_5">
            <svg-icon class="tabimg" id="songs" ng-click="setTab(1)" p="songs"></svg-icon>
            <p class="tabText">Songs</p>
        </div>
        <div class="col span_1_of_5">
            <svg-icon class="tabimg" id="lineup" ng-click="setTab(2)" p="lineup"></svg-icon>
            <p class="tabText">Lineup</p>
        </div>
        <div class="col span_1_of_5">
            <svg-icon class="tabimg" id="datetime" ng-click="setTab(3)" p="datetime"></svg-icon>
            <p class="tabText">Datetime</p>
        </div>
        <div class="col span_1_of_5">
            <svg-icon class="tabimg" id="location" ng-click="setTab(4)" p="location"></svg-icon>
            <p class="tabText">Location</p>
        </div>
        <div class="col span_1_of_5">
            <svg-icon class="tabimg" id="wardrobe" ng-click="setTab(5)" p="wardrobe"></svg-icon>
            <p class="tabText">Wardrobe</p>
        </div>
    </div>
</div>


<div class="view">
	<div class="gig-tabs-content">
		<div ng-show="isSet(1)">
            <div songs-page> </div>     
        </div>
        <div ng-show="isSet(2)">
            <div lineup-page></div>      
        </div>
        <div ng-show="isSet(3)">
            <div datetime-page> </div>     
        </div>
        <div ng-show="isSet(4)">
            <div location-page> </div>     
        </div>
        <div ng-show="isSet(5)">
            <div wardrobe-page> </div>     
        </div>
	</div>
</div>


