<div class="form-wrapper margin-top">
    <h2 class="mont-h2">Update Songs</h2>
    <form ng-submit="updateSong()">
        <input class="form wide" type="text" ng-model="updateGig.artist" ng-model-options="{ updateOn: 'blur' }" placeholder="Artist"/><br />
        <input class="form wide"type="text" ng-model="updateGig.title" ng-model-options="{ updateOn: 'blur' }" placeholder="Title"/><br />
        <input class="form wide"type="text" ng-model="updateGig.time" placeholder="Time"/><br />
        <input class="form wide"type="text" ng-model="updateGig.bpm" placeholder="BPM"/><br />
        <input type="submit" val="update data" />
        {[{ ServerResponse }]}
    </form>
</div>