<div class="form-wrapper margin-top">
    <h2 class="mont-h2">Update Songs {[{song._id}]}</h2>
    <form ng-submit="updateSong()">
        <input class="form wide" type="text" ng-model="updateGig.artist" ng-model-options="{ updateOn: 'blur' }" placeholder="{[{song.artist}]}"/><br />
        <input class="form wide"type="text" ng-model="updateGig.title" ng-model-options="{ updateOn: 'blur' }" placeholder="{[{song.title}]}"/><br />
        <input class="form wide"type="text" ng-model="updateGig.time" placeholder="{[{song.time}]}"/><br />
        <input class="form wide"type="text" ng-model="updateGig.bpm" placeholder="{[{song.bpm}]}"/><br />
        <input type="submit" val="update data" />
    </form>
</div>