@import "partials/variables";

snap-content, [snap\:content], [snap-content], [data-snap-content], [x-snap-content], .snap-content, .x-snap-content, snap-drawers, [snap\:drawers], [snap-drawers], [data-snap-drawers], [x-snap-drawers], .snap-drawers, .x-snap-drawers, .snap-drawers, .snap-content {
    position: relative;
    top: 40px;
    bottom: 0;
    display:block;
    }

.snap-content{
	position: relative;
	top: 0;
	overflow:hidden;

}

snap-drawer, .snap-drawer{
	top: 0;
	background-color: $white;
}

.snap-drawer-button{
	p{
		color: $reg-green;
		margin-left: 5%;
	}
}

*:focus {
outline: none;
}


/*snap-content, .snap-content{
	position: relative;
}*/