@import "partials/variables";

snap-content, [snap\:content], [snap-content], [data-snap-content], [x-snap-content], .snap-content, .x-snap-content, snap-drawers, [snap\:drawers], [snap-drawers], [data-snap-drawers], [x-snap-drawers], .snap-drawers, .x-snap-drawers, .snap-drawers, .snap-content {
    position: relative;
    top: 40px;
    bottom: 0;
    display:block;
    }

.snap-content{
	position: relative;
	top: 0;
	overflow:hidden;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: bottom right, left, right;
}

snap-drawer, .snap-drawer{
	top: 0;
	background-color: $white;
}

.snap-drawer-button{
	p{
		color: $reg-green;
		margin-left: 5%;
	}
}

.list-groups-wrapper{
    margin: 0;
    padding: 0;
    height: 200px;
    background-color: $yellow-green-dark;
    snap-content{
        height: 200px;
        margin: -20px 0 -8px 0;
        h2{
            margin: 5px 0 10px;
            font-size: 1em;
        }
        span p{
            color: $light-reg-grey;
            font-size: 0.7em;
        }
    }
}


*:focus {
outline: none;
}



/*snap-content, .snap-content{
	position: relative;
}*/