@import "partials/variables";

snap-content, [snap\:content], [snap-content], [data-snap-content], [x-snap-content], .snap-content, .x-snap-content, snap-drawers, [snap\:drawers], [snap-drawers], [data-snap-drawers], [x-snap-drawers], .snap-drawers, .x-snap-drawers, .snap-drawers, .snap-content {
    position: relative;
/*    top: 40px;
    bottom: 0;*/
    display:block;
    margin-top: -38px;
    }

.snap-content{
	position: relative;
	top: 0;
	overflow:hidden;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: bottom right, left, right;
}

snap-drawer, .snap-drawer{
	top: 0;
	background-color: $white;
}
snap-drawers, .snap-drawers{
/*	margin: -39px 0 -8px 0;
*/
}

.snap-drawer-button{
	margin: 0;
	p{
		color: $white-orange;
/*		position: relative;
    	top: 60px;*/
    	margin-left: 25px;
	}
}

.list-groups-wrapper{
    margin: 0;
    padding: 0;
/*    height: 200px;
*/    background-color: #1C1B18;
    .chats-panel-header{
	    margin: 0;
	    padding: 0.5px 0;
	    h2{
	        color: #E2DDD5;
	        font-size: .8em;
	    }
	}
	.chats-panel-body{
		padding: 20px 0;
	    h3{
	        font-family: $mont;
	        font-size: .7em;
	        color: #ACB59C;
	    }
	    p{
	    	font-family: "clavo",sans-serif;
			font-style: normal;
			font-weight: 200;
			color: white;
    		font-size: 1em;
    		margin-top: 15px;
    		line-height: 1.5em;
	    }
	}


    snap-content{
/*        height: 200px;
*/        margin: -22px 0 0 0;
        h2{
            margin: 10px 0 10px 20px;
        }
        span p{
            color: $light-reg-grey;
            font-size: 0.7em;
        }
    }
}

*:focus {
outline: none;
}

ng-map{
	margin-top: 10px;
}