@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "compass/css3";

/*============================================= */
/*============== Navigation bar =============== */
/*============================================= */
html{
        width: 100%;
}
.navbar-fixed-top {
    position: absolute;
    width: 100%;
    top: 0;
}

.lv1-nav{
    height: 32px;
    line-height: 2em;
    p{
        line-height: 0;
    }
}


.lv2-nav{
    height: 55px;
}

/*============================================= */
/*============== message-styles =============== */
/*============================================= */

.my-messages-wrapper{
    text-align: right;
}

.your-messages-wrapper{
    text-align: left;
}

.my-speech-bubble{
    display: inline-block;
    padding: 10px 10px 0 10px;
    color: #fff;
    background-color: $yellow-green-dark;
    width: 269px;
    margin-right: 11px;
    p{
        font-size: .8em;
        position: absolute;
    }
}

.my-speech-bubble-tail-svg{
    fill :$yellow-green-dark;
}
/*============================================= */
/*================== Columns ================== */
/*============================================= */

.row {
  margin-right: -15px;
  margin-left: -15px;
}


/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin-left: 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
    width: 100%;
}
.span_1_of_2 {
    width: 49.2%;
}
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GRID OF FIVE  */
.span_5_of_5 {
    width: 100%;
}
.span_4_of_5 {
    width: 79.68%;
}
.span_3_of_5 {
    width: 59.36%;
}
.span_2_of_5 {
    width: 39.04%;
}
.span_1_of_5 {
    width: 18.72%;
}

/*============================================= */
/*==================== Fonts ================== */
/*============================================= */

h1{
	font-weight: 300;
    font-style: italic;
    font-size: 1.2em;
    text-align: center;
    color: $white-text;
    font-family: "chaparral-pro";
    margin: 0;  
}
h2{
	color: $text-green;
    font-family: $mont;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    margin: 0;
}

.chap-h2{
    color: $text-green;
    font-family: $chap;
    font-weight: 300;
    font-style: italic;
    font-size: 1.4em;
    margin: 0;
    @include transition(color .15s .15s);
}

h2.mont-h2{
    font-family: $mont;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    margin: 0;
}

h3{
	color: rgba(126, 138, 162, 1);
/*	font-weight: 700;
*/}
h4{
/*	font-weight: 600;
*/	color: rgba(38, 50, 72, 1);
}
h5{
	color: rgba(38, 50, 72, .5);
	float: left;
}
p{
	color: rgba(38, 50, 72, 1);
    font-size: .9em;
    margin: 0;
    font-weight: 400;
    font-family: $open-sans;
}

h4.subheading {
    text-transform: none;
}

.time-giglist{
    margin-left: 5px;
    color: #ADADAD;
    font-size: .7em;
    font-style: normal;
    font-weight: 400;
    font-family: $open-sans;
    @include transition(color .15s .15s);
}


.small-text{
    font-size: .75em;
}

.bold{
    font-weight: bold;
}

.send-btn{
    margin: 5px 10px;;
    display: inline-block;
    color: $white-text;
    cursor: pointer;
    @include transition(color .15s .15s);
    &:hover{
        color: $reg-green;
    };
}

/*============================================= */
/*================== Buttons ================== */
/*============================================= */

.btn-xl {
    width: 100%;
    margin-top: 10px;
    padding: 7px 40px;
    border-color: #6b7f48;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #6b7f48;
}

.full-width-btn{
    width: 100%;
    height: 60px;
    margin: 30px 0 0 0;
    background-color: $reg-green;
    padding: 0 -105px 0 105px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);  
    @include transition(background-color .15s .15s);
    &:hover{
        background-color: $reg-green-hover;
        cursor: pointer;
    }
    
    h2{
        font-family: $mont; 
        font-size: 1em;
        text-transform: uppercase;
        color: $dark-desat-green;
        text-align: center;
        display: inline;
        text-align: center;
        line-height: 4em;
        margin-left: 5px;
    }

    path {
        fill: rgba(142,147,121,1);
    } 

    svg#plus{
        width: 1.5em;
        display: block;
        margin-top: 1.2em;
        
    }
}



/*============================================= */
/*================= Contents ================== */
/*============================================= */

.content-width-8{
    width: 80%;
    margin: 0 0 0 10%;
    float: left;
}
.content-width-9{
    width: 90%;
}
.content-width-1{
    width: 10%;
}

.listGigs-panel-content{
    background-color: $light-grey;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    height: 100px;
    cursor: pointer;
    @include transition(background-color .15s .15s);
    
    h2, p{
        color: $reg-grey;
        margin: 0;
        @include transition(color .15s .15s);
    }
    h2.mont-h2{
        padding-top: 15px;
    }
    
}

.giglist-panel-header{
    z-index: 2;
    height: 37px;
    width: 100%;
    line-height: 2.5em;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
    @include transition(background-color .15s .15s);
}

.listGigs-panel{
    &:hover{
        .giglist-panel-header{
            background-color: $white-cool-grey;
            .chap-h2{
                color: $dark-navy;
                .time-giglist{
                    color: $dark-cool-grey;
                }
            }
        }
        .listGigs-panel-content{
            background-color: $dark-cool-grey;
            h2, p{
                color: $white;
            }
            svg#arrow{
                display: inline-block;
                path.arrow{
                    fill: $white;
                }
            }
        }
    }
}

.chat-view{
    background-color: #f7f7f7;
    margin-top: 88px;
}
.inline-block{
    display: inline-block;
}

.profileImg{
    width: 100px;
}

.typebox{
    background-color: #515D3C;
    position: absolute;
    bottom:0;
    width: 100%;
    padding: 10px 0;
}

.tabs{
    background-color: #BCD37D;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
}

.tabText{
    font-size: .5em;
    text-align: center;
    color: #95a362;
    position: absolute;
    margin: 0 17px;
    bottom: 10px;
}
a:hover p.tabText{
    color: #5A822F;
}

.tabimg{
    display: block;
    margin: 5px 18px;
}

/*============================================= */
/*==================== Form =================== */
/*============================================= */

.form {
  display: block;
  height: 18px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4em;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(59, 68, 39, .075);
          box-shadow: inset 0 1px 1px rgba(59, 68, 39, .075);
  @include transition(border .15s .15s);

  &:focus{
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  };
}

input[type=text], textarea {
  @include transition(all .15s .15s);
  outline: none;
  border: 1px solid #DDDDDD;
  &:focus{
    box-shadow: 0 0 5px $white-orange;
    border: 1px solid $white-orange;
  };
}
 
.chat-msg-input{
    width: 70%;
}

::-webkit-input-placeholder {
    color: $reg-grey;
}

/*============================================= */
/*==================== SVGs =================== */
/*============================================= */

svg-icon#location.tabimg svg{
    display: block;
    margin:  0 0 0 7px;
}

svg-icon#wardrobe.tabimg svg{
    display: block;
    margin: 13px 2px 5px;
}

/*svg #songs, #lineup, #datetime, #location, #wardrobe*/
.svg-tabs{
    &:hover path {
        cursor: pointer;
        fill: rgba(90,130,47,1);
    } 
    &:hover p {
        color: rgba(90,130,47,1);
    }
    path {
        fill: rgba(149,163,98,1);
    } 
display: block;
}

svg#arrow{
    margin-top: 37px;
    path.arrow{
        fill: $desat-burnt-sienna;
        @include transition(fill .15s .15s);
    };
}


svg#files, svg#calendar, svg#addUser{
    fill: $dark-green;
    @include transition(fill .15s .15s);
    cursor: pointer;
    &:hover{
        fill : $darker-green;
    };
};

svg#option-plus{
    margin-left: 5px;
    fill:$white;
    @include transition(fill .15s .15s);
    &:hover{
        fill:$reg-green;
    };
}

.option-plus-position{
    float: left;
    padding: 3px 5px 0 0;
}


.active svg path{
    fill: rgba(90,130,47,1);
}

.active p.tabText {
    color: rgba(90,130,47,1);
}

.text-svg{
    float: left;
    margin-left: 75px;
}

.nav-left{
    cursor: pointer;
    &:hover{
        .nav-arrow-text-svg{
            path.nav-arrow{
                fill : $reg-green;
            }
        }
        .nav-text{
            color: $reg-green;
        }
    };
    .nav-arrow-text-svg{
        float: left;
        margin-left: 20px;
        line-height: 2em;
        path.nav-arrow{
            fill : $white-text;
            @include transition(fill .15s .15s);
        }
    }

    path.nav-arrow{
        margin-top: 10px;
    }

    svg#nav-arrow{
        margin: 5px 10px -3px 0;
    }

    .nav-text{
        font-family: $mont;
        text-transform: uppercase;
        color: $white-text;
        font-size: .8em;
        font-weight: 400;
        @include transition(color .15s .15s);
    }
}

/*============================================= */
/*===================== BG ==================== */
/*============================================= */

.dark-green-bg{
    background-color: $dark-green;
}

.reg-green-bg{
    background-color: $reg-lighter-green;
}

.nav-icons{
    display: block;
    margin: 10px 45px;
}
/*============================================= */
/*=================== Float =================== */
/*============================================= */

.float-left{
    float: left;
}

.float-right{
    float: right;
}
.float-clear{
    clear: both;
}