@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "compass/css3";
@import "partials/col";
@import "partials/fonts";
@import "partials/svg";

/*============================================= */
/*============== Navigation bar =============== */
/*============================================= */
html{
    width: 100%;
    height: 100%;
/*    background-color: $light-grey;
*/    
background: #51918d; /* Old browsers */
background: -moz-linear-gradient(top, #51918d 0%, #E8ECD1 4%, #f1f2ea 53%, #f1f2ea 60%, #ffffff 93%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #51918d 0%,#E8ECD1 4%,#f1f2ea 53%,#f1f2ea 60%,#ffffff 93%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #51918d 0%,#E8ECD1 4%,#f1f2ea 53%,#f1f2ea 60%,#ffffff 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
background-repeat: no-repeat;
}
.height100{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
}

.white-wrapper{
/*    background-color: $light-grey;
*//*    height: 100%;
*/}
.navbar-fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.lv1-nav{
    height: 40px;
    line-height: 2.4em;
    background-color: #98B964;
}

.lv2-nav{
    height: 45px;
    padding: 5px 0 0 0;
    background-color: #98B964;
    /*background-color: #3C7366;*/
    @media only screen and (min-width: $lg){
        height: 100%;
        position: fixed;
        width: 500px;
        background-color: #272824;
    }
}

ul{
    margin: 0;
    padding: 0;
}
li{
    margin: 0;
    padding: 0;
}

/*============================================= */
/*============== message-styles =============== */
/*============================================= */

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#gig-view{
    display: none;
    @media only screen and (min-width: $lg){
        display: block;
    }
}

.chat-icons{
    display: block;
    @media only screen and (min-width: $lg){
        display: none;
    }
}

.chat-view{
/*    background-color: $light-grey;*/
    padding: 80px 0;
    z-index: 2;
    @media only screen and (min-width: $lg){
        margin-left: 500px;
    }
}

.message-profile-pic{
    width: 40px;
    border-radius: 8px;
    float: left;
    margin-right: 10px;
    margin-left: 20px;
}

.repeatmsg{
    margin-left: 70px;
    margin-top: 5px;
}


.messagesWrapper{
    margin-top: 25px; 
}

.width-10{
    width: 10px;
    height: 10px;
    background-color: red;
}

.senderUsername{
    font-family: $mont;
    text-transform: uppercase;
    font-weight: 700;
    color: #67502F;
    margin: 20px 0 5px 5px;
}

.senderMessage{
    width: 92%;
}

.message-time{
    font-weight: normal;
    font-family: $chap;
    margin-left: 3px;
    color: #B7AFA9;
    display: none;
}

.typebox{
    background-color: rgba(255,255,255,1);
    position: fixed;
    bottom:0;
    padding: 0;
    z-index: 3;
    height: 50px;
    width: 100%;
    display: table;
    @media only screen and (min-width: $lg){
        margin-left:500px;
    }
}

.left, .right{
    display: table-cell;
}

.filler{
    display: table-cell;
    width: auto !important;
}

.plus-icon-div{
    width: 43px;
}

.send-btn-div{
    width: 50px;
}

.div-30{
    width: 30px;
    margin-right: 15px;
}

.div-40{
    width: 40px;
}

.send-btn{
    font-size: .8em;
    text-align: center;
    display: inline-block;
    color: $reg-grey;
    cursor: pointer;
    position: fixed;
    right: 5px;
    @include transition(color .15s .15s);
    margin: 0.5%;
    line-height: 3.5em;
    &:hover{
        color: $reg-green;
    };
    p {
        font-size: .8em;
        text-align: center;
    }
}

/*============================================= */
/*================== Buttons ================== */
/*============================================= */

.button{
    display: inline-block;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.button-none{
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.btn-sm{
    margin: 0;
    padding: 8% 15% 7%;
    display: inline-block;
    color: $white-text;
    @include transition(color .15s .15s);
    p{
        font-family: $mont;
        text-transform: uppercase;
        font-weight: 700;
        font-size: .75em;
        margin-top: 1%;
    }
}

.btn-xl {
    width: 100%;
    margin: 10px 0 100px;
    padding: 4% 20% 4%;
    p{
        margin-top: 1%;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 1em;
        font-weight: 700;
    }
}

.full-width-btn{
    width: 100%;
    height: 60px;
/*    margin-top: 40px;
*/    padding-top: 40px;
    background-color: #609F90;
    padding: 0 -105px 0 105px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);  
    @include transition(background-color .15s .15s);
    &:hover{
        background-color: #609F90;
        cursor: pointer;
    }
    
    h2{
        font-family: $mont; 
        font-size: 1em;
        text-transform: uppercase;
        color: #F2F2EE;
        text-align: center;
        display: inline;
        text-align: center;
        line-height: 4em;
        margin-left: 5px;
    }

    path {
        fill: #EEFFA5;
    } 

    svg#plus{
        width: 1.5em;
        display: inline-block;
        margin-top: 18px;
        float: left;
    }
}

.center-content{
    margin: 0 auto;
    display: table;
}

/*============================================= */
/*================== Panels =================== */
/*============================================= */

.panel-header{
    cursor: pointer;
}

.panel-body{
    @include transition(all .15s .15s);
    position: relative;
    top: 0;  
}

.ng-hide {
    position: relative;
    height: 0;
    top:-200px;
}


/*============================================= */
/*================= Contents ================== */
/*============================================= */
.empty{
    height: 40px;
}

.tab-page-wrapper{
    margin-bottom: 100px;
}

.form-wrapper{
    width: 90%;
    margin: 0 auto;
}

.lineup-list-wrapper{
    padding-top: 10px;
}
.content-width-9{
    width: 90%;
    margin: 0 0 0 5%;
    float: left;
}
.content-width-8{
    width: 80%;
    margin: 0 auto;
}
.content-width-7{
    width: 70%;
    margin: 0 auto;
}
.content-width-1{
    width: 10%;
}

.listGigs-panel{
    /*margin-top: 40px;*/
}

.listGigs-panel-content{
    cursor: pointer;
        @include transition(background-color .15s .15s);
    p{
        color: $reg-grey;
        margin-top: 7px;
        @include transition(color .15s .15s);
    }
    h2{
        color: #2D6262;
        margin-top: 10px;
    }

    @media only screen and (min-width: $lg){
/*        background-color: green;
*/    }
}

.giglist-panel-header{
    display: inline-block;
    width: 100%;
    line-height: 2.5em;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.1);
    /*background-color: $white;*/
    background-color: rgba(255,255,255,0.8);
    /*margin-top: 20px;*/
    @include transition(background-color .15s .15s);
    p{
        margin: 0;
    }
}


/*.listGigs-panel{
    &:hover{
        .giglist-panel-header{
            background-color: $white-cool-grey;
            .chap-h2{
                color: $dark-navy;
                .time-giglist{
                    color: $dark-cool-grey;
                }
            }
        }
        .listGigs-panel-content{
            background-color: $dark-cool-grey;
            h2, p{
                color: $white;
            }
            svg#arrow{
                display: inline-block;
                path.arrow{
                    fill: $white;
                }
            }
        }
    }
}*/


.inline-block{
    display: inline-block;
}
.inline{
    display: inline;
}

.profileImg{
    width: 100px;
}


.tabs{
    background-color: #515D3C;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
}

.tabText{
    font-size: .7em;
    color: #95a362;
    position: absolute;
    margin: 0 0 0 2.1%;
    bottom: 10px;
}
a:hover p.tabText{
    color: #E1EFCB;
    text-decoration-style: none;
}

.tabimg{
    margin-top: 9px;
    margin-left: 20%;
}

.gig-tabs-content{
    margin-top: 40px;
    height: 100%;
}

.song-list-wrapper{
    margin-top: 20px;
}

.chats-nav{
    height: 40px;
    z-index: 3;
}

.margin-top{
    margin-top: 40px;
}

.more-margin-top{
    margin-top: 39px;
}

/*============================================= */
/*=================== Forms =================== */
/*============================================= */

.form {
    width: 100%;
    display: block;
    height: 18px;
    padding: 25px 12px;
    font-size: 14px;
    line-height: 1.4em;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(59, 68, 39, .075);
    box-shadow: inset 0 1px 1px rgba(59, 68, 39, .075);
    @include transition(border .15s .15s);

  &:focus{

    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  };
}

input[type=text], textarea {
    outline: none;
    border: none;
    border-bottom: solid 2px $text-green;
    transition: border 0.3s;
    border-radius: 0;
    box-shadow: none;
    background-color: rgba(0,0,0,0);
    margin-bottom: 10px;
    &:focus{
        box-shadow: none;
        outline: none;
        outline: 0;
        border: none;
        border-bottom: 2px solid $white-orange;
    };
}

input[type=date], textarea {
    outline: none;
    border: none;
    border-bottom: solid 2px $text-green;
    transition: border 0.3s;
    border-radius: 0;
    box-shadow: none;
    background-color: rgba(0,0,0,0);
    margin-bottom: 10px;
    &:focus{
        box-shadow: none;
        outline: none;
        outline: 0;
        border: none;
        border-bottom: 2px solid $white-orange;
    };
}


.placeholder-icon{
    position: relative;
    top: 36px;
}

.text-indent{
    text-indent: 15px;
}

.chat-msg-input{
    display: inline;
    position: fixed;
    border: 0 !important;
    &:focus{
    box-shadow: 0 !important;
    border: 0 !important;
    };
}

input[type=date]{
    -webkit-appearance:none;
}

input[type=time]{
    -webkit-appearance:none; 
}

input{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
}


::-webkit-input-placeholder { 
    color:    #939089;
}
:-moz-placeholder { 
   color:    #939089;
   opacity:  1;
}
::-moz-placeholder { 
   color:    #939089;
   opacity:  1;
}
:-ms-input-placeholder { 
   color:    #939089;
}


.wide {
    display:block; 
    border-width:0
}



/*============================================= */
/*=================== Colors ================== */
/*============================================= */

.redorange{
    fill: #FC6232;
}

.desat{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.dark-green-bg{
    background-color: $dark-green;
}

.reg-green-bg{
    background-color: #98B964;
}

.brown-color{
    color: #7D6542;
}

.nav-icons{
    display: block;
    margin: 0 auto;
}

.dark-green-yellow-bg{
    background-color: $yellow-green-dark;
    @include transition(background-color .15s .15s);
    &:hover{
        background-color: #333333;
    }
}

.dark-green-yellow-fill{
    fill: $yellow-green-dark;
}

.light-brown{
    color: $light-brown;
}

.ligth-brown-fill{
    fill:$light-brown;
}

.burnt-sienna-fill{
    fill: $burnt-sienna;
    color: #8E7053;
}

.goldenrod{
    fill: goldenrod;
    color: goldenrod;
}

.edit-color{
    fill:#307B7D;
    color: #7D999A;
}

.chocolate{
    fill: #D87039;
    color: #A28B7A;
}

.gig-content-wrapper{
    width: 100%;
    height: 100%;
    background-color: red;
}

.green-fill{
    fill:$text-green;
}

.reg-grey-fill {
    fill: $reg-grey;
    @include transition(fill .15s .15s);
    &:hover{
        fill: #333333;
    }
}

.light-grey-fill{
    fill: #B1B1B1;
    @include transition(fill .15s .15s);
    &:hover{
        fill: #333333;
    }
}

.light-grey{
    color: #7C8181;
    fill: #939089;
}

/*============================================= */
/*=================== Float =================== */
/*============================================= */

.center-div{
    margin: 0 auto;
    display: table;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.float-clear{
    clear: both;
}

.lowercase{
    text-transform: lowercase;
}

.margin-zero{
    margin: 0;
}

.margin-top-sm{
    margin-top: 7px;
}

.margin-left-sm{
    margin-left: 15px;
}

.padding-zero{
    padding: 0;
}

.padding-bottom{
    padding-bottom: 25px;
}

hr{
    border-top: 2px solid rgba(150,150,150,.1);
    border-left: $white;
    border-bottom: 2px solid rgba(255,255,255,.5);
    margin-bottom: 0;
}

.img{
    width: 100%;
}

.profile-img{
    max-width: 130px;
}

#map { 
    height: 400px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;
}

.margin-more{
    margin-top: 62px;
    margin-bottom: 19px;
}

.anchor{
    cursor: pointer;
}


@media only screen and (max-width: 320px){
    .chat-msg-input {
        width: 77%;
    }
}












