/*variables.scss*/
/* line 3, ../sass/override.scss */
.snap-content, .snap-drawers {
  margin-top: 100px;
}

/* line 7, ../sass/override.scss */
.snap-content {
  /*background-color: $light-grey;	*/
  background-color: white;
  height: 70px;
}

/* line 13, ../sass/override.scss */
snap-content, .snap-content {
  position: relative;
}
