<nav class="navbar-fixed-top">
    <div class="lv1-nav section group"> <!-- Level 1 nav -->
        <div class="col span_1_of_3"><button ng-click="goGigs()">Gigs</button></div>
        <div class="col span_1_of_3"><h1>Awesome Band</h1></div>
        <div class="col span_1_of_3"></div>
    </div>
</nav>

<div class="view">
<p>Moonstone music festival</p>
    <form ng-submit="addSong()" method="get">
    <!-- {[{songs[0].artist}]} -->
        <input type="text" ng-model="newGig.artist" ng-model-options="{ updateOn: 'blur' }" placeholder="Artist"/><br />
        <input type="text" ng-model="newGig.title" ng-model-options="{ updateOn: 'blur' }" placeholder="Title"/><br />
        <input type="text" ng-model="newGig.time" placeholder="Time"/><br />
        <input type="text" ng-model="newGig.bpm" placeholder="BPM"/><br />
        <input type="submit" ng-click="update(newGig)" value="Save" />
    </form>
</div>



