/*============================================= */
/*================== Columns ================== */
/*============================================= */

.row {
  margin-right: -15px;
  margin-left: -15px;
}


/*  SECTIONS  */
.section {
    clear: both;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin-left: 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
    width: 100%;
}
.span_1_of_2 {
    width: 49.2%;
}
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { 
    width: 32.26%; 
/*    @media only screen and (min-width: $lg){
        width: 100%;
    }*/
}

/*  GRID OF FOUR  */
.span_4_of_4 {
    width: 100%;
}
.span_3_of_4 {
    width: 74.6%;
}
.span_2_of_4 {
    width: 49.2%;
}
.span_1_of_4 {
    width: 23.8%;
}

/*  GRID OF FIVE  */
.span_5_of_5 {
    width: 100%;
}
.span_4_of_5 {
    /*width: 79.68%;*/
    width: 73.68%;
}
.span_3_of_5 {
    width: 59.36%;
}
.span_2_of_5 {
    width: 39.04%;
}
.span_1_of_5 {
    width: 18.72%;
/*    width: 19.72%;*/
}

.bigger-span_1_of_5{
    width: 30%; 
    @media (min-width: 300px) and (max-width: $x-small){
        width: 37%; 
    }
}

/*  GRID OF NINE  */
.span_9_of_9 {
    width: 100%;
}

.span_8_of_9 {
    width: 88.71% !important;
}

.span_7_of_9 {
    width: 77.42% !important;
}

.span_6_of_9 {
    width: 66.13%;
}

.span_5_of_9 {
    width: 54.84%;
}

.span_4_of_9 {
    width: 43.55%;
}

.span_3_of_9 {
    width: 32.26%;
}

.span_2_of_9 {
    width: 20.97%;
}

.span_1_of_9 {
    width: 9.688%;
}