/*============================================= */
/*==================== SVGs =================== */
/*============================================= */

svg-icon#location.tabimg svg{
    display: block;
    margin:  0 0 0 7px;
}

svg-icon#wardrobe.tabimg svg{
    display: block;
    margin: 16px 2px 5px;
}

/*svg #songs, #lineup, #datetime, #location, #wardrobe*/
.svg-tabs{
    &:hover path {
        cursor: pointer;
        fill: rgba(90,130,47,1);
    } 
    &:hover p {
        color: rgba(90,130,47,1);
    }
    path {
        fill: rgba(149,163,98,1);
    } 
display: block;
}

svg#arrow{
    margin-top: 20px;
    path.arrow{
        fill: $desat-burnt-sienna;
        @include transition(all .15s .15s);
    };
}

svg#logo{
    margin: 12px 44%;
}


svg#files, svg#calendar, svg#addUser{
    fill: $dark-green;
    @include transition(fill .15s .15s);
    cursor: pointer;
    &:hover{
        fill : $darker-green;
    };
};

svg#option-plus{
    fill: $reg-green-hover;
    margin-bottom: -12px;
    margin-left: 5px;
    @include transition(fill .15s .15s);
    &:hover{
        fill:$reg-green;
    };
}

svg#lead-sheet{
    fill: $light-brown;
    margin-bottom:1%;
}

svg#pencil{
    margin-left: 5px;
}

svg#trash{
    margin-left: 4px;
}

.option-plus-position{
    float: left;
    margin: 0 auto;
}


.active svg path{
    fill: rgba(90,130,47,1);
}

.active p.tabText {
    color: rgba(90,130,47,1);
}

.text-svg{
    float: left;
    margin-left: 75px;
}

.margin-left{
    margin-left: 8%;
}

.nav-right{
    text-align: right;
    margin-right: 15px;
}

.nav-left{
    cursor: pointer;
    &:hover{
        .nav-arrow-text-svg{
            path.nav-arrow{
                fill : $reg-green;
            }
        }
        .nav-text{
            color: $reg-green;
            cursor: pointer;
        }
    };
    .nav-arrow-text-svg{
        float: left;
        margin-left: 20px;
        line-height: 2.2em;
        path.nav-arrow{
            fill : $white-text;
            @include transition(fill .15s .15s);
        }
    }

    path.nav-arrow{
        margin-top: 10px;
    }

    svg#nav-arrow{
        margin: 5px 10px -3px 0;
    }

    .nav-text{
        font-family: $mont;
        text-transform: uppercase;
        color: $white-text;
        font-size: .8em;
        font-weight: 400;
        @include transition(color .15s .15s);
    }
}

.clip-circle {
-webkit-clip-path: circle(33px at 95px 35px); 
          clip-path: circle(33px at 95px 35px); 
}

.svg-center-1-of-2{
    display: block;
    margin: auto;
    margin-top:5%;
}

.p-center-1-of-2{
    font-size: .5em;
    color: #95a362;
    position: absolute;
    margin: 0 0 0 20%;
    bottom: 10px;
}

























