/*variables.scss*/

$dark-green : rgba(81,93,60,1);
$darker-green : rgba(59, 68, 39 ,1);
$reg-green	: rgba(188,211,125,1);
$reg-lighter-green : #6B7F48;
$reg-green-hover : rgba(217,234,157,1);
$dark-desat-green	: rgba(94,90,73,1);
$white-green : rgba(240,255,222,1);

$white-orange : #FFA780;

$dark-navy	: #12213F;

$white-text	: rgba(239,239,239,1);


$desat-burnt-sienna : #8E7E2F;
$white : white;

$mont : 'Montserrat', sans-serif;
$open-sans : 'open-sans', sans-serif;
$chap : "chaparral-pro";
$text-green: #8DAF41;
$text-dark-grey: rgba(56,56,56,1);
$light-grey	: rgba(245, 246, 244, 1);
$reg-grey	: #777A7A;
$dark-cool-grey : #5E606B;
$white-cool-grey : #DADDE5;