/*variables.scss*/

$dark-green : rgba(81,93,60,1);
$darker-green : rgba(59, 68, 39 ,1);
$reg-green	: #DEF3A4;
$reg-lighter-green : #6B7F48;
$reg-green-hover : rgba(217,234,157,1);
$dark-desat-green	: rgba(94,90,73,1);
$white-green : rgba(240,255,222,1);

$yellow-green-dark : #424242;
$yellow-green-light : #efeeda;

$white-orange : #FFA780;

$light-brown : #e2d6c5;

$dark-navy	: #12213F;

$white-text	: rgba(239,239,239,1);


$desat-burnt-sienna : #8E7E2F;
$burnt-sienna : #C39263;
$white : white;

$mont : 'Montserrat', sans-serif;
$open-sans : 'open-sans', sans-serif;
$chap : "chaparral-pro";
$text-green: #8DAF41;
$text-dark-grey: rgba(56,56,56,1);
$light-reg-grey: rgba(183,183,183, 1);
$light-grey	: rgba(245, 246, 244, 1);
$x-light-grey: #7C8181;
$reg-grey	: #777A7A;
$dark-cool-grey : #5E606B;
$white-cool-grey : #DADDE5;

$x-small : 320px;
$smaller : 375px;
$sm : 414px;
$md: 600px;
$md-lg: 800px;
$lg:1000px;
$larger: 1280px;
$x-lg: 1440px;