/*variables.scss*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$dark-green : rgba(81,93,60,1);
$reg-green	: rgba(188,211,125,1);
$reg-green-hover : rgba(217,234,157,1);

$white-text	: rgba(239,239,239,1);
$dark-desat-green	: rgba(94,90,73,1);

$mont : 'Montserrat', sans-serif;